body
{
	text-align: center;
}
.buttons
{
	font-weight: bold;
	font-family: sans-serif;
	border-style: none;
	background-color: #d6d6c2;
	margin-right: 4px;
}
.buttons:hover
{
	background-color: #1e1e15;
	color: white;
}
.buttons.operator
{
	background-color: #80ffaa;
}
.buttons.operator:hover
{
	background-color: #194d33;
	color: white;
}
#heading
{
	font-family: garamond;
	font-weight: bolder;
	font-size: 50px;
	color: #009999;
}
#ans
{
	font-weight: normal;
	font-size: 40px;
	font-family: sans-serif;
}
#query
{
	font-weight: normal;
	font-size: 40px;
	font-family: sans-serif;
}
#abt
{
	font-family: Comic Sans MS;
	font-size: 20px;
	color: #009999;
	padding-top: 18px;
}
.link
{
	font-family: Comic Sans MS;
	color: #ff4d4d;
	text-decoration: none;
}
.link:hover
{
	font-size: 20px;
}

/* Mobile first queries */
@media (min-width: 320px) {
	#heading {
		font-size: 39px;
	}

	.buttons {
		width: 46px;
		font-size: 23px;
	}
	#abt {
		padding-top: 145px;
	}
}
@media (min-width: 375px) {
	.buttons {
		width: 49px;
		font-size: 26px;
	}
}
/* Larger than mobile */
@media (min-width: 425px) {
	.buttons{
		width: 57px;
		font-size: 31px;
	}
	#abt {
		padding-top: 110px;
	}
}
/* Larger than phablet */
@media (min-width: 550px) {
	.buttons{
		width: 69px;
		font-size: 40px;
	}
	#abt {
		padding-top: 50px;
	}
}
@media (min-width: 668px) {
	.buttons {
		width: 82px;
		font-size: 46px;
	}
	#abt {
		padding-top: 20px;
	}
}
/* Larger than tablet */
@media (min-width: 768px) {
	.buttons{
	width: 93px;
	font-size: 55px;
	}
	#abt {
		padding-top: 10px;
	}
}
/* Larger than desktop */
@media (min-width: 1000px) {
	.buttons{
		width: 118px;
		font-size: 69px;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

