body
{
	text-align: center;
}
.buttons
{
	width: 14%;
	max-width: 90px;
	height:80px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 40px;
	border-style: none;
	background-color: #d6d6c2;
	margin-right: 4px;
}
.buttons-xs
{
	width: 14vw;
	padding: 2vw;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
	border-style: none;
	background-color: #d6d6c2;
	margin-right: 4px;
}
.buttons:hover
{
	background-color: #1e1e15;
	color: white;
}
.buttons.operator,.buttons-xs.operator
{
	background-color: #80ffaa;
}
.buttons.operator:hover
{
	background-color: #194d33;
	color: white;
}
#heading
{
	font-family: garamond;
	font-weight: bolder;
	font-size: 50px;
	color: #009999;
}
#ans
{
	font-weight: normal;
	font-size: 40px;
	font-family: sans-serif;
}
#query
{
	font-weight: normal;
	font-size: 40px;
	font-family: sans-serif;
}
#abt
{
	font-family: Comic Sans MS;
	font-size: 20px;
	color: #009999;
}
.link
{
	font-family: Comic Sans MS;
	color: #ff4d4d;
	text-decoration: none;
}
.link:hover
{
	font-size: 20px;
}
.dotted{
	border: 1px dotted black;
}